body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.hover:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transform: scale(1.1); 
}

.video {
  z-index: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.index {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/extérieur.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.interieur {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.ItemsDroite {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.ItemsGauche {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.ItemsCentre {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.InterieurCentre {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.InterieurDroite {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.InterieurGauche {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.ItemsCentre2 {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.ItemsGauche2 {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.ItemsDroite2 {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.potions {
    position: relative;
    min-height: 700px;
    height: 100vh;
    background: url("../Images/Potions/pagePotions.png") center/cover no-repeat;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.mobs {
    position: relative;
    min-height: 700px;
    height: 100vh;
    background: url("../Images/Mobs/pageMobs.png") center/cover no-repeat;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.enchantements {
    position: relative;
    min-height: 700px;
    height: 100vh;
    background: url("../Images/Enchantements/pageEnchantement.png") center/cover no-repeat;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.minerais {
    position: relative;
    min-height: 700px;
    height: 100vh;
    background: url("../Images/Minerais/pageMinerais.png") center/cover no-repeat;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.blocks {
    position: relative;
    min-height: 700px;
    height: 100vh;
    background: url("../Images/Blocks/pageBlocks.png") center/cover no-repeat;
    aspect-ratio: 16/9;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

h1 {
    position: relative;
    text-align: center;
    top: 76px;
    left: 0px;
    padding: 12px 16px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.781);
    font-family: horror;
}

#description {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 50px;
    padding: 12px 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    opacity: 0;
}

#intro {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 50px;
    padding: 12px 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
}

@keyframes textDisplay {
  to {opacity: 1;
    pointer-events: auto;} 
}

#Disclaimer {
    color: rgb(0, 255, 149);
    font-weight: bold;
}

#motCle {
    color: rgb(255, 122, 255);
    font-weight: bold;
}

#lienInterieur {
    position: absolute;
    width: 3%;
    height: 10.5%;
    top: 56%;
    left: 54%;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienItemsDroite {
    position: absolute;
    width: 33%;
    height: 36%;
    top: 55%;
    left: 57.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienMinerais {
    position: absolute;
    width: 26%;
    height: 70%;
    top: 23%;
    left: 21.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienPotions {
    position: absolute;
    width: 17%;
    height: 38%;
    top: 27%;
    left: 53.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienInterieurGauche {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 87.5%;
    background-image: url("../Images/arrow3.png");
    background-size: contain;   /* pour que l’image s’adapte */
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    opacity: 0;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienInterieurCentre {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 47.5%;
    background-image: url("../Images/arrow.png");
    background-size: contain;   /* pour que l’image s’adapte */
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    opacity: 0;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienInterieurDroite {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 7.5%;
    background-image: url("../Images/arrow2.png");
    background-size: contain;   /* pour que l’image s’adapte */
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienItemsCentre {
    position: absolute;
    width: 7%;
    height: 12%;
    top: 43.5%;
    left: 47%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienItemsGauche {
    position: absolute;
    width: 27%;
    height: 41%;
    top: 39%;
    left: 11%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienEnchantements {
    position: absolute;
    width: 26%;
    height: 50%;
    top: 30%;
    left: 60.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienMobs {
    position: absolute;
    width: 23%;
    height: 39%;
    top: 38%;
    left: 21.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienBlocks {
    position: absolute;
    width: 18.5%;
    height: 34%;
    top: 36%;
    left: 41.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: textDisplay;
    pointer-events: none;
}

#lienItemsPotions {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 46.7%;
    background-image: url("../Images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienItemsBlocks {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 46.7%;
    background-image: url("../Images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienItemsEnchantements {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 46.7%;
    background-image: url("../Images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienItemsMobs {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 46.7%;
    background-image: url("../Images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienItemsMinerais {
    position: absolute;
    width: 6%;
    height: 11%;
    top: 80%;
    left: 46.7%;
    background-image: url("../Images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}